$color-ink: #1B243F;
$border: 1px solid #dfe3e8;

@mixin transition($props...){
  transition-property: $props;
  will-change: $props;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}
