html {
  overflow: hidden;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  width: 100%;
}

/* CSS baseline */

body {
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-size: 0.875em;
}
