/**
 * Styles that are specific to the CodeEditor component
 */
@use './theme';

$gutter-width: theme.spacing(6);
$gutter-hover: theme.$sb_dark_blue_75;
$gutter-highlight: theme.$sb_dark_blue;

.codeEditor :global {
  .CodeMirror {
    height: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .CodeMirror-scroll {
    min-height: 100px;
  }

  .CodeMirror-gutter-wrapper {
    height: 100%;
  }

  .CodeMirror-linenumber {
    cursor: pointer !important;
    @include theme.transition(color, background-color);
    height: 100%;

    &:hover {
      color: theme.$white !important;
    }
  }

  .CodeMirror-line {
    @include theme.transition(color, background-color);
    padding-left: theme.spacing(4) !important;
  }

  .lineStyle-default {
  }
  .lineStyle-neutral {
    .CodeMirror-line {
      background-color: transparentize(theme.$yellow, 0.75);
    }
    .CodeMirror-linenumber {
      background-color: transparentize(theme.$yellow, 0.5);
      color: $gutter-highlight;
    }
  }
  .lineStyle-add {
    .CodeMirror-line {
      background-color: transparentize(theme.$green, 0.75);
    }
    .CodeMirror-linenumber {
      background-color: transparentize(theme.$green, 0.5);
      color: $gutter-highlight;
    }
  }
  .lineStyle-remove {
    .CodeMirror-line {
      background-color: transparentize(theme.$red, 0.75);
    }
    .CodeMirror-linenumber {
      background-color: transparentize(theme.$red, 0.5);
      color: $gutter-highlight;
    }
  }
}