/**
 * Styles that are specific to the CodeEditor component
 */
@use './theme';

.codeEditor :global {
  .CodeMirror {
    height: auto;
  }

  // Make the line number clickable
  .CodeMirror-linenumber {
     cursor: pointer !important;
     @include theme.transition(color);

     &:hover {
       color: theme.$white !important;
     }
   }
  // Colors to line numbers
  .lineStyle-default {
  }
  .lineStyle-neutral {
    background-color: mix(theme.$yellow, theme.$sb_dark_blue, 30%);
  }
  .lineStyle-add {
    background-color: mix(theme.$green, theme.$sb_dark_blue, 30%);
  }
  .lineStyle-remove {
    background-color: mix(theme.$red, theme.$sb_dark_blue, 30%);
  }
}