name: Node.js Package

on:
  push:
    - '.github/workflows/**'
    - 'code-block/**'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'
      - name: Install
        run: yarn install
      - name: Check types
        run: yarn workspace code-block check:types
      - name: Test
        run: yarn workspace code-block test
      - name: Build
        run: yarn workspace code-block build
